body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #eee;
}

.wrapper {
  max-width: 700px;
  margin: auto;
  padding: 0px 20px 20px 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
}

p.checked,h3.checked,small.checked,li.checked {
  color: #888;
  text-decoration: line-through;
}

ul {
  padding:0;
  list-style-type: none;
}

li.reminder_object {
  border: 1px black solid;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
}

.tool {
  text-align: right;
}